#include "targetver.h"
#include <windows.h>
#include <dlgs.h>
#include "config.h"
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// Encoding

#pragma code_page(65001)    // UTF-8

/////////////////////////////////////////////////////////////////////////////
// Icon

1 ICON "RadWindowApp.ico"

/////////////////////////////////////////////////////////////////////////////
// Version Info

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0, 1, 0, 0
PRODUCTVERSION  0, 1, 0, 0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    // English (U.S.)
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "@PROGRAM_AUTHORS\0"
            VALUE "FileDescription", "RadWindowApp\0"
            VALUE "FileVersion", "0.1.0\0"
            VALUE "LegalCopyright", "Copyright (C) 2015-2017 Katayama Hirofumi MZ\0"
            VALUE "ProductName", "RadWindowApp\0"
            VALUE "ProductVersion", "0.1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        // English (U.S.)
        VALUE "Translation", 0x0409, 0x04E4
    END
END

/////////////////////////////////////////////////////////////////////////////
// Accelerator

1 ACCELERATORS
BEGIN
    "?",            IDM_ABOUT,              ASCII,  ALT
    "/",            IDM_ABOUT,              ASCII,  ALT
END

/////////////////////////////////////////////////////////////////////////////
// Menu

// English (U.S.)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

1 MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Test",                   IDM_TEST
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                   IDM_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About...",               IDM_ABOUT
    END
END

2 MENU
BEGIN
    POPUP "Popup"
    BEGIN
        MENUITEM "Test 2",                  IDM_TEST2
        MENUITEM "Test 3",                  IDM_TEST3
    END
END

/////////////////////////////////////////////////////////////////////////////
// Dialog

// English (U.S.)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_ABOUTBOX DIALOG 0, 0, 200, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About RadWindowApp"
FONT 10, "MS Shell Dlg"
BEGIN
    CONTROL 1, -1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE, 14, 14, 21, 20
    CONTROL "RadWindowApp Version 0.1.0", -1, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE, 45, 15, 150, 8
    CONTROL "Copyright (C) 2015-2017 Katayama Hirofumi MZ", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 45, 30, 150, 16
    CONTROL "OK", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 70, 50, 50, 14
END

/////////////////////////////////////////////////////////////////////////////
// String Table

// English (U.S.)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE
BEGIN
    IDS_APPNAME,    "RadWindowApp"
    2,              "Rad Window"
END

/////////////////////////////////////////////////////////////////////////////

// Japanese
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

IDD_TEST DIALOG 0, 0, 215, 170
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "リソースの置き換え"
FONT 9, "MS UI Gothic"
{
    CONTROL "リソースの種類(&T):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 70, 12
    CONTROL "", cmb1, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 5, 135, 200
    CONTROL "リソースの名前(&N):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 32, 70, 12
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 30, 135, 200
    CONTROL "リソースの言語(&L):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 57, 70, 12
    CONTROL "", cmb3, "COMBOBOX", CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 75, 55, 135, 200
    CONTROL "バイナリーファイル(&F):", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 85, 100, 12
    CONTROL "", edt1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 97, 205, 14
    CONTROL "参照(&B)...", psh1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 115, 60, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 150, 60, 14
    CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 150, 60, 14
}

/////////////////////////////////////////////////////////////////////////////
